.Rproj.user
.Rhistory
.RData
.Ruserdata
SusitnaEG/data-raw/*.xlsx
SusitnaEG/data-raw/*.xlsm
SusitnaEG/data-raw/*.xls
SusitnaEG/data-raw/comm fish data/
SusitnaEG/NAMESPACE
SusitnaEG/.gitignore
SusitnaEG/.Rbuildignore
SusitnaEG/man/
*.xlsx