.Rproj.user
.Rhistory
.RData
.Ruserdata
/data-raw/comm fish data
/data-raw/Old raw data
/.Rbuildignore
April26_2018 meeting/
posts/
markdown/Report 2019/drafts/
*.xlsx
*.xls
*.docx
*.html
*.pdf
*.png
Thumbs.db
/.quarto/

!SusitnaEG age.xlsx
!SusitnaEG Ha_post95.xlsx
!SusitnaEG Hm.xlsx
!SusitnaEG regs.xlsx
!SusitnaEG sonar.xlsx
!SusitnaEG survey.xlsx
!SusitnaEG weirs.xlsx
!index.html
!SusitnaEG_prelim2024.html
